/**STYLE**/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
#container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
#container h1 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #59867f;
  font-size: 2em;
}
#container .intro-game,
#container .end-game {
  width: 70%;
  padding: 5%;
  margin: 10%;
  position: absolute;
  text-align: center;
}
#container .intro-game span,
#container .end-game span {
  font-weight: bold;
}
#container .end-game {
  display: none;
}
#container .start,
#container .again {
  background: #59867f;
  padding: 2%;
  margin: 2%;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 0 0 10px #000;
  font-weight: bold;
  border: 3px solid #e7e7e7;
  color: white;
  text-transform: uppercase;
}
#container .game {
  width: 100%;
  height: 100%;
  display: none;
}
#container .game .cards {
  width: 90%;
  height: 100%;
  margin: 0 5%;
}
#container .game .cards .card0,
#container .game .cards .card1,
#container .game .cards .card2,
#container .game .cards .card3,
#container .game .cards .card4,
#container .game .cards .card5,
#container .game .cards .card6,
#container .game .cards .card7,
#container .game .cards .card8,
#container .game .cards .card9,
#container .game .cards .card10,
#container .game .cards .card11,
#container .game .cards .card12,
#container .game .cards .card13,
#container .game .cards .card14,
#container .game .cards .card15,
#container .game .cards .card16 {
  width: 20%;
  height: 30%;
  float: right;
  margin: 2.5%;
  cursor: pointer;
  text-align: center;
}
#container .game .cards .verso {
  position: absolute;
}
